<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML on server</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Hi, I am from HTML Page</h1>
    <h2>Background color is gray done with css</h2>

    <script src="javascript.js"></script>
</body>

</html>